.productCard {
  &_img {
    width: 248px;
    height: 298px;
    border-radius: 20px;
    margin-bottom: 16px;
  }
  &_title {
    color: #000;
    font-size: 20px;
    font-weight: 700;
  }
  &_price {
    color: #000;
    font-size: 22px;
    font-weight: 700;
  }
  & .rating_star {
    width: 18px;
  }
  &_brand {
    color: #000;
    margin-bottom: 5px;
  }
  &_price {
    margin-top: 5px;
  }
}
