@import "../../colors.scss";

.notification {
  padding: 15px 40px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // transition: transform 0.4s ease-out;
  font-size: 20px;
  background: #fff;
  border: 1px solid $gray;
  border-radius: 20px;
  animation: fadeIn 0.3s ease-out, fadeOut 0.3s ease-out 2.2s;
  &_text {
    font-weight: 600;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-50%, -200px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
}
