@import "../../colors.scss";

.notification {
  padding: 15px 40px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -100px);
  font-size: 20px;
  background: #fff;
  border: 1px solid $gray;
  border-radius: 20px;
  animation: fadeInOut 2.5s ease-in-out;
  z-index: 1000;
  &_text {
    font-weight: 600;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 110%);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 110%);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
}
