@import "../../colors.scss";

.dropdown {
  &Wrap {
    position: relative;
  }
  &_btn {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #000;
  }
  &_arrow.rotate {
    transform: rotate(180deg);
  }
  &_menu {
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: -75px;
    width: 200px;
    padding: 10px 15px;
    background: $beige;
    transition: opacity 0.3s ease;
    z-index: 50;
    &__item {
      color: #000;
      &:hover {
        color: $brown-color;
      }
    }
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  &_arrow {
    transition: transform 0.3s ease;
  }
}
