.catalog {
  display: flex;
  gap: 25px;
  &_productsWrap {
    display: flex;
    flex-wrap: wrap;
  }
}
.catalogWrap {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.img_notFound {
  width: 500px;
  height: 550px;
  margin: 0 auto;
}
